.App {
  background-image: url("./bil.jpg");
  width: 2592px;
  height: 1944px;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.App:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.lucka{
  font-family: Pacifico;
  height: 150px;
  width: 150px;
  background-color: transparent;
  font-size: 60px;
  font-weight: normal;
  cursor: pointer;
  border: 2px dashed rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  color: #fff;
  line-height: 100%;
}

.lucka div {
  margin-top: -10px;
  text-shadow: 0px 1px 1px #000;
}

.flipped {
  background: green;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Content {
  text-align: center;
}

.ReactModal__Content.ReactModal__Content--after-open {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  min-width: 375px;
}

.ReactModal__Overlay--after-open {
  overflow: scroll;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0) translateX(-50%);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) translateX(-50%);
    transform: translate3d(0, 0, 0) translateX(-50%);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0) translateX(-50%);
    transform: translate3d(0, 100%, 0) translateX(-50%);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) translateX(-50%);
    transform: translate3d(0, 0, 0) translateX(-50%);
  }
}
